.about{
  padding-bottom: 80px;
background-color: var(--surface-color);

  & strong{
    color: var(--brand-color-primary);
    
  }
  & h2{
    color: var(--text-color-primary);
    font-size: 48px;
    font-family: var(--font-family);
  }
  & p{
    color: var(--text-color-secondary);
    font-family: var(--font-family);
  }
  & .about-text{
    width: 50%;
   align-items: center;
   
  }

  & .about-img{
    background-image: url(../assets/App\ mockups.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 544px;
    height:558px;
    object-fit: cover;
    
  }
}
.about-mobile{
  display: none;
}
@media screen and (max-width: 768px) {
  .about-mobile{
    background-image: url(../assets/ilustração.svg);
   display: block;
   & img{
    max-width: 332px;
    max-height: 320px;
    margin-left: calc(50% - 166px);
   }

  }
   .about-text{
    & strong{
      font-size: 14px;
    }
    & h2{
      font-size:24px;
    }
  } 
  .about{
    padding-bottom: 28px;
    .about-text{
      width: 100%;
      display: block;
      
    }
    .about-img{
      display: none;
    }
  }
  .hero{
    background-image: none;
    background-color: var(--background-color);
    height: 300px;
    
  }

 }