header{
  width:100%;
 
  
  
}


.menu{
  display: flex;
  align-items: center;
  padding-block: 24px;
   gap: 1rem;
}
  .logo{
  margin-right: auto;  
  }
  .menu2{
    display: flex;
   
  }
  .menu2 a{
    
    margin-right: 30px;
    color: var(--text-color-secondary);
    text-decoration: none;
   
 
   }
   
  
    


@media screen and (max-width: 727px) {
  .menu2{
    display: none;
  }
  .btn
  .contender{
    max-width: calc(100% - 48px);
  }
  .menu{
    padding-block: 1rem;
  }
  .even-colunns{
    grid-auto-flow: column;
    grid-auto-columns: 1rem;
  }
}