.even-colunns {
  grid-auto-flow: column;
  display: grid;
  gap: 1rem;
}
.grid {
  display: grid;
}
.py-lg {
  padding-block: 1.5rem;
}
.py-xl {
  padding-block: 40px;
}
.px-lg {
  padding-inline: 32px;
}
.pd-tb {
  padding-block: 40px;
}
.item-center {
  align-items: center;
}
